<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Message 1</th>
      <th>Message 2</th>
    </tr>
  </thead>
  <tbody>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <tr *cdkVirtualFor="let item of items" class="example-item">
        <td>{{item.id}}</td>
        <td>{{item.msg1}}</td>
        <td>{{item.msg2}}</td>
      </tr>
    </cdk-virtual-scroll-viewport>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td>Pager Control</td>
    </tr>
  </tfoot>
</table>

<router-outlet></router-outlet>
